html, body {font-family:'Montserrat'; background-color: #ffffff }
.LoginPage {
    position: relative!important;
    width: 100%!important;
    height: 100%!important;
    background: #ffffff!important;
}
.Header {
    position: relative!important;
    display: flex;
    width: 100%!important;
    height: 45px!important;
    background-color: rgba(224, 224, 224, 0.5)!important;
}
.HeaderLink {
    font-size: 1.3rem !important;
    color: rgba(31, 92, 182, 1) !important;
    font-weight: bold!important;
    text-decoration: none;
    margin-top: 0.5%;
    margin-left: 2%;
}
.MainPage {
    margin-top: 5%!important;
}
.Info {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column!important;
    left: 10%!important;
    line-height: 1.5!important;
    margin-top: 2%!important;
}
.form {
    position: relative!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column!important;
}
h1 {
    font-weight: bold!important;
    color: #1F5CB6 !important;
    opacity: 0.9!important;
    text-align: left!important;
    font-size: 1.3rem!important;
    word-spacing: 100%!important;
}
.MainForm {
    position: relative!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column!important;
    background-color: rgba(224, 224, 224, 0.5)!important;
    padding-bottom: 4%!important;
    padding-top: 7%!important;
    padding-left: 1.5%!important;
    padding-right: 1.5%!important;
    border-radius: 15px!important;
    overflow: auto!important;
    left: 15%!important;
    width: 82%!important;
    height: 70%;
}
.buttonOn {
    background-color: #1F5CB6;
    color:#ffffff;
    opacity: 0.9!important;
}
.QR {
    position: relative!important;
    height: 25%!important;
    border-radius: 15px!important;
    background-color: rgba(224, 224, 224, 0.5)!important;
    display: flex!important;
    margin-top: 7%!important;
    left: 15%!important;
    width: 82%!important;
}
h2 {
    font-weight: bold!important;
    font-size: 1.5rem!important;
    line-height: 1.5!important;
    color: #000!important;
}
h3 {
    font-weight: bold!important;
    font-size: 1rem!important;
    line-height: 1.5!important;
    color: #545454!important;
}
.Bottom {
    display: flex !important;
    flex-direction: row !important;
    align-content: flex-end !important;
    justify-content: center!important;
    align-items: center!important;
    margin-left: 10% !important;
    margin-top: 2% !important;
    width: 80% !important;
    position: fixed;
    bottom: 2% !important;
    background-color: #ffffff !important;
}
.Link {
    flex-direction: row!important;
}
img {
    margin-top: 7%!important;
    width: 80%!important;
    height: 80%!important;
    margin-bottom: 7%!important;
}
a {
    padding-right: 25px!important;
    padding-left:25px!important;
    font-size: 0.75rem!important;
    text-decoration: none!important;
}
h4 {
    font-size: 0.75rem !important;
    padding-right: 250px!important;
    font-weight: bold!important;
    color: #545454!important;
}
.qrImg {
    width: 50%!important;
    margin-left: 3%!important;
    margin-top: 4%!important;
    margin-bottom: 0%!important;
}
h5 {
    font-size: 0.8em!important;
    font-weight: bold!important;
    width: 80!important;
    margin-top: 13%!important;
    margin-left: 5%!important;
    color: #000;
}
h6 {
    font-size: 0.65em!important;
    width: 80%!important;
    margin-left: 5%!important;
    font-weight: 600!important;
    color: #000;
}
.more {
    padding-left: 5%!important;
    color: #1F5CB6 !important;
    opacity: 0.9!important;
}
.Remember {
    margin-top: 5%;
    text-align: left!important;
    justify-content: left!important;
    align-items: left!important;
}
.text {
    color: #545454!important;
    font-weight: bold!important;
}
